// Fonts
$font-stack: 'Orbitron', sans-serif;

// Colors
$blue: #3245BF;
$blue-trans: rgba(50, 69, 191, 0.7);
$dark-purple: #9A5BFF;
$light-purple: #E67BF7;
$light-color: #F9E3BD;
$green: #36ce66;

$primary-color: $dark-purple;
$secondary-color: $blue;
$highlight: $light-purple;
$success: $green;