@import "config";

// SCSS Function that will make sure text is light on dark backgrounds, and dark on light backgrounds.
@for $i from 1 to 101 {
    .w-#{$i} {
        width: calc(percentage($i) / 100);
    }
}

@for $i from 1 to 101 {
    .h-#{$i} {
        height: calc(percentage($i) / 100);
    }
}

@function text-color-picker($color) {
    @if($color == $dark-purple) {
        @return $secondary-color;
    } @else if($color == $light-color){
        @return $secondary-color;
    } @else {
        @return $light-color;
    }
}

@function calc-height($height) {
    @if unitless($height) {
        @warn 'Height value did not have a unit. Will convert to pixels.';
        $height: $height * 1px;
    }
    @return calc(100vh - $height);
}

@function mk-border($width) {
    @if unitless($width) {
        @warn 'Width value did not have a unit. Will convert to pixels.';
        $width: $width * 1px;
    }
    @if($width < 3px) {
        @return $width solid $secondary-color;
    } @else {
        @return $width ridge $highlight;
    }
}


  
// Mixins
@mixin set-bg($color) {
    @if type-of($color) != 'color' {
        @error 'Background must be a color.';
    }
    background-color: $color;
    color: text-color-picker($color)
}

@mixin flash-text() {
    animation-name: flash-title;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@mixin hover-button() {
    color: $light-color;
    cursor: pointer;
}

@mixin highlight() {
    color: $highlight;
    background-color: $secondary-color;
    display: inline-block;
    padding: 1rem;
    width: 60%;
}

@mixin note() {
    color: $primary-color;
    margin-top: 2rem;
    text-decoration: underline;
}